<div class="container">
  <div class="row mt-3">
    <div class="col ml-5">
      <h4>シーン詳細</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div id="map"></div>
      <style>
      #map {
        height: 300px;
        width: 500px;
      }
      </style>
      <script>
        let map
        function initMap(){
          geocoder = new google.maps.Geocoder()
          
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @scene.latitude %>, lng:<%= @scene.longitude %>},
            zoom: 15,
          });
          
          marker = new google.maps.Marker({
            position:  {lat: <%= @scene.latitude %>, lng:<%= @scene.longitude %>},
            map: map
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          <%= image_tag @scene.get_scene_image(300,500) %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          シーン名
        </div>
        <div class="col">
          <%= @scene.scene_name %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          住所
        </div>
        <div class="col">
          <%= @scene.scene_address %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= link_to "作品詳細に戻る", anime_path(@scene.anime_id) %>
        </div>
      </div>
      
  </div>
  </div>
  
  
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          新規投稿
        </div>
      </div>
      <%= form_with model: @photo, url: photos_path do |f| %>
      <div class="row">
        <div class="col">
          <%= f.label "写真" %>
        </div>
        <div class="col">
          <%= f.file_field :image, accept: "image/*" %>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <%= f.label "コメント" %>
        </div>
        <div class="col">
          <%= f.text_field :comment %>
        </div>
      </div>
      <%= f.hidden_field :address, :value => @scene.scene_address %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
      <%= f.hidden_field :anime_id, :value => @scene.anime_id %>
      <%= f.hidden_field :scene_id, :value => @scene.id %>
      <div class="row">
        <div class="col">
          <%= f.submit "投稿する" %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col">
          投稿一覧
        </div>
      </div>
      <div class="row">
      <% @photos.each do |photo| %>
        <div class="col-3">
          <div class="row">
            <div class="col">
              <%= link_to photo_path(photo.id) do %>
                <%= image_tag photo.get_image(100,100) %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <%= link_to photo.user.name, user_path(photo.user_id) %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>