<div class="container">
  <div class="row mt-3">
    <div class="col ml-5">
      <h4>シーン詳細</h4>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-6">
      <div id="map"></div>
      <style>
      #map {
        height: 300px;
        width: 500px;
      }
      </style>
      <script>
        let map
        function initMap(){
          geocoder = new google.maps.Geocoder()
          
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @scene.latitude %>, lng:<%= @scene.longitude %>},
            zoom: 15,
          });
          
          marker = new google.maps.Marker({
            position:  {lat: <%= @scene.latitude %>, lng:<%= @scene.longitude %>},
            map: map
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    </div>
    <div class="col-6">
      <div class="row">
        <div class="col">
          <%= image_tag @scene.get_scene_image(300,500) %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">
          シーン名
        </div>
        <div class="col-9">
          <%= @scene.scene_name %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3">
          住所
        </div>
        <div class="col-9">
          <%= @scene.scene_address %>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-3">
          <%= link_to "編集する", edit_admin_scene_path, class: "btn btn-success" %>
        </div>
        <div class="col-6 ml-auto">
          <%= link_to "<<作品詳細に戻る", admin_anime_path(@scene.anime_id), data: {"turbolinks" => false} %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col ml-5">
      <h5>投稿一覧</h5>
    </div>
  </div>
  <div class="row mt-3">
    <% @photos.each do |photo| %>
    <div class="col-2">
      <div class="row">
        <div class="col">
          <%= link_to admin_photo_path(photo.id) do %>
            <%= image_tag photo.get_image(100,100) %>
          <% end %>
        </div>
      </div>
      <div class="row mt-1">
        <div class="col">
          <%= link_to photo.user.name, user_path(photo.user_id) %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>