<div class="container">
  <div class="row">
    <div class="">
      ユーザー編集
    </div>
  </div>
  <%= form_with model: @user do |f| %>
  <div class="row">
    <div class="">
      <table class="table">
        <tr>
          <th><%= f.label "ユーザー名" %></th>
          <td><%= f.text_field :name %></td>
        </tr>
        <tr>
          <th><%= f.label "自己紹介文" %></th>
          <td><%= f.text_area :introduction %></td>
        </tr>
        <tr>
          <th><%= f.label "メールアドレス" %></th>
          <td><%= f.text_area :email %></td>
        </tr>
        <tr>
          <th><%= f.label "メールアドレス" %></th>
          <td>select box</td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.submit "保存する" %>
    </div>
  </div>
  <% end %>
</div>