<div class="container">
  <div class="row">
    <div class="col">
      <h4>マイページ</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table">
        <tr>
          <th>ユーザー名</th>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <th>自己紹介文</th>
          <td><%= @user.introduction %></td>
        </tr>
        <tr>
          <th>メールアドレス</th>
          <td><%= @user.email %></td>
        </tr>
      </table>
    </div>
  </div>
  <div clss="row">
    <div class="col">
      <%= link_to "編集する", edit_user_path %>
    </div>
    <div class="col">
      <%= link_to "投稿一覧", photos_path(user_id: @user.id) %>
    </div>
    <div class="col">
      <%= link_to "いいね一覧", favorite_path(user_id: @user.id) %>
    </div>
  </div>
</div>