<div class="container">
  <div class="row">
    <div class="col">
      店舗詳細
    </div>
  </div>
  <div class="row">
    <div class="col">
      店舗名
    </div>
    <div class="col">
      <%= @store.store_name %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      店舗紹介
    </div>
    <div class="col">
      <%= @store.store_introduction %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      住所
    </div>
    <div class="col">
      <%= @store.store_address %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      メールアドレス
    </div>
    <div class="col">
      <%= @store.email %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "編集する", edit_business_store_path %>
    </div>
  </div>
</div>