<!DOCTYPE html>
<html>
  <head>
    <title>SeitiMeguri</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand">
        <div class="container">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <%= link_to root_path, class: "nav-link text-dark navbar-brand" do %>
              <%= image_tag 'map-icon.png', class: 'icon' %>
              聖地巡り
            <% end %>
            <div class="col">
            </div>
            <ul class="navbar-nav ml-auto">
              <% if admin_signed_in? %>
              <li>
                <%= link_to "作品一覧", admin_animes_path, class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "ユーザー一覧", admin_users_path, class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "店舗一覧", admin_stores_path, class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_admin_session_path, class:"nav-link text-dark", method: :delete %>
              </li>
              <% elsif user_signed_in? %>
              <div class="search_form">
                <%= form_with url: search_path, local: true, method: :get, class: "" do |f| %>
                  <%= f.text_field :word %>
                  <%= f.select :range, options_for_select([['ユーザー'], ['作品名']]) %>
                  <%= f.select :search, options_for_select([["完全一致","perfect_match"], ["前方一致","forward_match"],  ["後方一致","backward_match"], ["部分一致","partial_match"]]) %>
                  <%= f.submit "検索", class: "btn btn-info" %>
                <% end %>
              </div>
              <li>
                <%= link_to "マイページ", user_path(current_user.id) , class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "作品一覧", animes_path, class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, class:"nav-link text-dark", method: :delete %>
              </li>
              <% elsif store_signed_in? %>
              <li>
                <%= link_to "店舗詳細", business_store_path(current_store.id), class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "ログアウト", destroy_store_session_path, class:"nav-link text-dark", method: :delete %>
              </li>
              <% else %>
              <li>
                <%= link_to "サイト概要", about_path , class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "ログイン", new_user_session_path , class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "新規登録", new_user_registration_path , class:"nav-link text-dark" %>
              </li>
              <li>
                <%= link_to "管理者ログイン", new_admin_session_path , class:"nav-link text-dark" %>
              </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
