<div class="container">
  <div class="row">
    <div class="">
      <h5>作品編集</h5>
    </div>
  </div>
  <%= form_with model: @anime, url: admin_anime_path do |f| %>
  <div class="row">
    <div class="col">
      <%= f.label "画像" %>
    </div>
    <div class="col">
      <%= f.file_field :ainime_image, accept: "image/*" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label "作品名" %>
    </div>
    <div class="col">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label "舞台" %>
    </div>
    <div class="col">
      <%= f.text_field :spot %>
    </div>
  </div>
  <div class="row">
    <div class="">
      <%= f.submit "保存する" %>
    </div>
  </div>
  <% end %>
</div>