<div class="container">
  <div class="row">
    <div class="col">
      作品一覧
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "新規登録", new_admin_anime_path %>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
      ジャンル検索
    </div>
    <div class="col-10">
      <%= form_tag admin_animes_path, method: :get, class: 'boards__searchForm' do %>
        <%= select_tag :tag_id,
                       options_from_collection_for_select(Tag.all, :id, :tag_name, params[:tag_id]),
                       {
                         prompt: '全てを表示',
                         onchange: 'submit(this.form);'
                       }
        %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th class="col-6">作品名</th>
            <th class="col-6">舞台</th>
          </tr>
        </thead>
        <% @animes.each do |anime| %>
        <tbody>
          <tr>
            <td>
              <%= link_to anime.title, admin_anime_path(anime.id), data: {"turbolinks" => false} %>
            </td>
            <td>
              <%= anime.spot %>
            </td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>