<div class="container">
  <div class="row">
    <div class="col">
      <h5>作品登録</h5>
    </div>
  </div>
  <%= form_with model: @anime, url: admin_animes_path do |f| %>
  <div class="row">
    <div class="col">
      <%= f.label "画像" %>
    </div>
    <div class="col">
      <%= f.file_field :ainime_image, accept: "image/*" %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label "作品名" %>
    </div>
    <div class="col">
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.label "舞台" %>
    </div>
    <div class="col">
      <%= f.text_field :spot %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
      <div>
        <%= tag.label do %>
          <%= tag.check_box %>
          <%= tag.text %>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= f.submit "作成する" %>
    </div>
  </div>
  <% end %>
</div>