<div class="container">
  <div class="row mt-3">
    <div class="col ml-5">
      <h4>作品登録</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-2">
    </div>
    <div class="col-10">
      <%= form_with model: @anime, url: admin_animes_path do |f| %>
      <div class="row mt-5">
        <div class="col-3">
          <%= f.label "画像" %>
        </div>
        <div class="col-6">
          <%= f.file_field :ainime_image, accept: "image/*" %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">
          <%= f.label "作品名" %>
        </div>
        <div class="col-6">
          <%= f.text_field :title %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">
          <%= f.label "舞台" %>
        </div>
        <div class="col-6">
          <%= f.text_field :spot %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3">
          ジャンル選択
        </div>
        <div class="col-6">
          <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :tag_name) do |tag| %>
          <div>
            <%= tag.label do %>
              <%= tag.check_box %>
              <%= tag.text %>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col">
          <%= f.submit "作成する", class: "btn btn-success" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>