<div class="container">
  <div class="row">
    <div class="">
      <h5>作品詳細</h5>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= image_tag @anime.get_anime_image(300,500) %>
    </div>
    <div class="col">
      <div id="map"></div>
      <style>
      #map {
        height: 300px;
        width: 500px;
      }
      </style>
      <script>
        let map
        function initMap(){
          geocoder = new google.maps.Geocoder()
          
          map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @latitude %>, lng: <%= @longitude %>},
            zoom: 12,
          });
          
          <% @scenes.each do |scene| %>
            // const markerData = [{
            //   "name": <--%= scene.scene_name %>,
            //   "url": "/admin/scenes/<--%= scene.id %>"
            // },];
            
            // const markerEvent => {
            //   marker.addListener('click', () => {
            //     infoWindow.open(map, marker);
            //   });
            // }
            
            marker = new google.maps.Marker({
              position:  {lat: <%= scene.latitude %>, lng:<%= scene.longitude %>},
              map: map
            });
            
            // infoWindow = new google.maps.InfoWindow({
            //   content: <a href="${markerData['url']}" target="_blank">${markerData['name']}</a>
            // });
            
          <% end %>
          
          <% @stores.each do |store| %>
            marker = new google.maps.Marker({
              position:  {lat: <%= store.latitude %>, lng:<%= store.longitude %>},
              map: map
            });
          <% end %>
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap" async defer></script>
    </div>
  </div>
  <div class="row">
    <div class="col">
      作品名
    </div>
    <div class="col">
      <%= @anime.title %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      舞台
    </div>
    <div class="col">
      <%= @anime.spot %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      シーン一覧
    </div>
    <div class="col">
      <% @scenes.each do |scene| %>
        <%= link_to scene.scene_name, admin_scene_path(scene.id), data: {"turbolinks" => false} %><br>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to "編集する", edit_admin_anime_path %>
    </div>
    <div class="col">
      <%= link_to "シーン追加", new_admin_scene_path(anime_id: @anime.id) %>
    </div>
  </div>
</div>